crispy-bootstrap5==2024.2
Django==5.0.2
django-ckeditor==6.7.1
django-ckeditor-5==0.2.11
django-cleanup==8.1.0
django-crispy-forms==2.1
django-js-asset==2.2.0
textblob==0.18.0.post0
regex==2023.12.25
