{% extends "layout.html" %}

{% block body %}
    <div  class = "mt-5 p-5 bg-danger bg-gradient text-white rounded text-center" >
        <h2 style="color:black" class="fs-2 fw-bold fst-italic">Sabri Alperen Kaya Blogu'na Hosgeldiniz</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt hic inventore cumque quisquam deleniti architecto deserunt sint error? Veritatis, dolores totam. Quam dolores impedit maxime voluptate? Fugiat velit beatae ipsam.</p>
    </div>

{% endblock body %}