{% extends "layout.html" %}

{% block body %}

{% load crispy_forms_tags %}

<div class="row">
  <div class="col-6 col-md-4">
    <h3>Kayıt Ol</h3>
    <hr>
    <form method="post">
    <div class="form-group">
        {% csrf_token %} <!--BU COK ONEMLI MAN IN THE MIDDLE ATACKLARINDAN KORUNMAK ICIN EKLENMELI POST REQUES GEREKTIREN YERLERE -->
        {{form|crispy}}
        <br>
        <button type="submit" class="btn btn-danger">Kayıt Ol</button>
    </div>
    </form>

  </div>
</div>


{% endblock body %}
